@model TradeYou.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OPaymentype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OPaymentype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OShippingtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OShippingtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OOrderumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OOrderumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIdNavigation.PMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UIdNavigation.UName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
