@model IEnumerable<TradeYou.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OPaymentype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OShippingtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OOrderumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UIdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OPaymentype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OShippingtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OOrderumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
